<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <mat-card-content class="login-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessages()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="confirmEmail" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessages()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessages()
        }}</mat-error>
      </mat-form-field>
      <mat-error *ngIf="form.invalid">{{ getFormErrorMessages() }}</mat-error>
    </mat-card-content>

    <mat-card-actions>
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-raised-button
        color="accent"
      >
        Login
      </button>
      <button mat-raised-button color="accent" (click)="checkChanges()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
