<mat-card class="post">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>article</mat-icon>
    </div>
    <mat-card-title>{{post.title}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="post-body">
      {{post.body}}
    </div>
    <div class="likes">
      <p>Likes: {{post.likes}}</p>
    </div>
  </mat-card-content>


  <mat-card-actions>
    <button  mat-button  (click)="deletePost()" >Delete  Post</button>
  </mat-card-actions>
</mat-card>
